
<!-- <div>
  <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
    <span class="p-6">
      <button 
      class="inline-flex justify-center rounded-md border border-transparent bg-green-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2" 
      (click)="setScreen('Taxpro')">Taxpro</button>
    </span>
    <span>
      <button 
      class="inline-flex justify-center rounded-md border border-transparent bg-green-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
      (click)="setScreen('Client')">Client</button>
    </span>
  </div>
</div> -->

<taxpro-page></taxpro-page>



